{{ include('Layout/index.html.twig') }}
{{ include('Navbar/navbarMainPage.html.twig') }}
<main class="background-color: bg-white container-fluid text-center">
    <div class="mainForm">
        <img src="{{ asset('images/registration.jpg') }}" alt="Sign Up">
        {{ form_start(formSignUp, {'action': path('signUp_page'), 'method': 'POST'}) }}
        {{ form_end(formSignUp) }}
    </div>
</main>
<footer class="page-footerfont-small bg-secondary container-fluid text-center">
    <div class="footer-copyright py-1 btn-github">
        Made by Fordim
        <a href="https://github.com/fordim">
            <img src="{{ asset('images/GitHubIcon.svg') }}" alt="GitHub Icon" width="25" height="25">
        </a>
    </div>
</footer>
